click==7.1.2
fastapi==0.63.0
h11==0.12.0
pydantic[dotenv]==1.7.3
SQLAlchemy==1.4.9
starlette==0.13.6
uvicorn==0.13.3
async-lru==1.0.2
hvac==0.10.8
fastapi-utils==0.2.1
orjson==3.4.8
httpx[http2]==0.16.1
alembic==1.6.2
sitri==0.10.27
PyJWT==1.4.2
SQLAlchemy-Utils==0.36.8
email-validator==1.1.2
six~=1.15.0
phonenumbers==8.12.18
passlib==1.7.4
sentry-sdk==1.0.0
aiomysql==0.0.21
